*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 36px;
}
body{
  min-height: 100vh;
  
}

.App{
  height: 100vh;
  width: 100%;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin:auto;
  
}
.header{
  height:48px;
  background-color: mediumblue;
  display: flex;
  color:#ffffff;
  width: 100%;
  padding:2px;
  margin-top: 7px;
}
.footer{
  height:48px;
  background-color: mediumblue;
  display: flex;
  color:white;
  width: 100%;
  display: grid;
  padding:2px;
  margin-top: 7px;
}

.contents{
  width: 100%;
  display: flex;
  flex-direction: column;
   height: 100vh;
  
}
 .itemLists{
  display: flex;
  height:48px ;
}
label{
  width: 100%;
  height: 40px;
  
  background-color:beige
}
 .contents svg{
  height: 40px;
  width: 40px;
}
.contents svg :hover{

  cursor: pointer;
  color: rgb(173, 14, 14);
}
